@import "../../App.scss";

$lightDark:rgb(143, 143, 143);
.Background{
    height: 100vh;
    width: 100%;
    
    @include flexCenter(center,center,row);    

    .Login{
        width: 38rem;
        border: 1px solid rgb(182, 182, 182);
        border-radius: 2rem;
        padding: 3rem 4rem;
        img{
            width: 5rem;
            height: 5rem;
        }
        p{
            font-size: 1.9rem;
        }
        span{
            font-size: 1.5rem;
        }
        form{
            margin: 1rem 0;
        }
        .Campo{
            width: 100%;
            position: relative;
            margin: rem 0;
            margin: 1rem 0;
            
            input{
                padding: 1.2rem 0 1.5rem 3.5rem;
                width: 100%;
                border: 1px solid $lightDark;
                border-radius: 0.5rem;
            }
            .Icon{
                position: absolute;
                top: 1.1rem;
                left: 1rem;
                font-size: 2rem;
                color: $lightDark;
            } 
            .Error{
                color: red;
            }              
        }
        .Footer{
            text-align: center;
            
            span{
                display: block;
                color: $lightDark;
                margin: 2rem;
            }
            .Social{
                @include flexCenter(space-around,center,row)
            }
            a{
                color: #2F80ED;
                text-decoration: none;
            }
        }
    }
}